.DashedSentence-sentence {
  font-size:1.25em; 
  margin-top: -1.4em; 
}
.Question-question-text {
  font-size:1.25em; 
}
li.Question-scale-box {
    float: left;
    list-style: none;
    margin-left: 0;
    padding-left: 0;
    margin-right: 1em;
    padding-right: 0;
    border: 2px #9ea4b1 solid;   
    font-size: 1.25em;            
    width: 4em;                  
    height: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;  
    text-align: center;
}
body {
    color: black;
    background-color: white;
    margin-left: 0;
    margin-top: 5em;
}
.lindent { margin-left: 5em; }
.sending-results {
    font-weight: bold;
    font-size: medium;
}
div.bar-container {
    border: 1px solid;
    border-color: #9ea4b1;
    background-color: white;
}
div.bar {
    background-color: blue;
}
p.progress-text {
    padding-top: 0.5em;
    margin-top: 0;
    margin-bottom: 2em;
    font-style: italic;
    font-size: small;
}
p.practice-box {
    color: blue;
    height: 1.5em;
    padding-bottom: 1em;
    font-size: small;
    text-align: center;
}
span.retry {
    color: blue;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}
span.retry:hover {
    text-decoration: underline;
}
span.retry:visited {
    color: blue;
}
